# =============== #
# Unity generated #
# =============== #
/Library/
/Temp/
/Obj/
/Build/
/Builds/
/Assets/AssetStoreTools*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
*.tmp
.consulo/

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# ================ #
# Project-Specific #
# ================ #
/Assets/Organic\ Nature*
Assets/Audio/Organic Nature/
